@{
ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<ul>
    <li>

        <a
            href="https://raw.githubusercontent.com/COS301-SE-2024/BeakPeek/cb066fb4f7cc46b292ec81bc170e9b7094243be9/doc/Legal/BeakPeekPrivacyPolicy.pdf">Privacy
            policy
        </a>
    </li>
    <li>
        <a
            href="https://raw.githubusercontent.com/COS301-SE-2024/BeakPeek/refs/heads/development/doc/Legal/BeakPeekCookiePolicy.pdf">
            Cookie policy
        </a>
    </li>
    <li>
        <a
            href="https://github.com/COS301-SE-2024/BeakPeek/raw/refs/heads/development/doc/Legal/BeakPeekTermsOfUse.pdf">
            Terms of Use
        </a>
    </li>
</ul>
